body {
  margin: 0 auto;
  padding: 0 12px;
}

header,
h2,
footer {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 45px;
  margin-bottom: 4px;
  margin-top: 120px;
}

h2 {
  font-size: 20px;
  margin-top: 7px;
  padding-bottom: 180px;
}

p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 21px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

.navbar-brand {
  font-family: "Limelight", cursive;
  font-size: 25px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.introduction {
  text-align: center;
  padding: 80px 0 20px;
  background-color: #e0ffcd;
}

.line-name {
  display: block;
  max-width: 385px;
  margin: 0 auto;
}

.quote {
  font-size: 18px;
}

.about-projects {
  text-align: center;
  padding: 140px 0;
}

.navigation-links {
  font-family: "Quicksand", sans-serif;
  font-size: 27px;
}

.img-pages {
  width: 280px;
}

.contacts {
  text-align: center;
}

.social {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 20px 0 70px;
}

.git-link:hover {
  color: #511c77;
}
