h1 {
  font-family: "Limelight", cursive;
  font-size: 40px;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
}

p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
}
